<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="gateway">
            <form class="form form-gateway">
                <div class="logo-container">
                    <% if (theme === "ldj") { %>
                        <img class="logo" src="/static/images/logo.svg" />
                    <% } else { %>
                        <span class="logo">Gateway</span>
                    <% } %>
                </div>
                <div class="field">
                    <label class="name">Responsible</label>
                    <div class="value">
                        <input class="input" type="text" name="responsible" />
                    </div>
                </div>
                <div class="field">
                    <label class="name">Technology</label>
                    <div class="value">
                        <input type="radio" id="laser" name="technology" value="laser">
                        <label for="laser">Laser</label>
                        <input type="radio" id="fresa" name="technology" value="fresa">
                        <label for="fresa">Fresa</label>
                        <input type="radio" id="diamond" name="technology" value="diamond">
                        <label for="diamond">Diamond</label>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Elements</label>
                    <div class="value">
                        <input type="radio" id="text" name="elements" value="text">
                        <label for="text">Text</label>
                        <input type="radio" id="calligraphy" name="elements" value="calligraphy">
                        <label for="calligraphy">Calligraphy</label>
                        <input type="radio" id="digital-printing" name="elements" value="digital_printing">
                        <label for="digital-printing">Digital printing/kiss</label>
                        <input type="radio" id="graphic-element" name="elements" value="graphic_element">
                        <label for="graphic-element">Graphic element</label>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Location</label>
                    <div class="value">
                        <input type="radio" id="interior" name="location" value="interior">
                        <label for="interior">Interior</label>
                        <input type="radio" id="exterior" name="location" value="exterior">
                        <label for="exterior">Exterior</label>
                    </div>
                </div>
                <div class="buttons-container">
                    <button type="submit" class="button">Submit</span>
                </div>
            </form>
        </div>
    </body>
</html>