<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% if (fullscreen) { %>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        <% } %>
        <title>Signatur</title>
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/static/js/jSignature.min.js"></script>
        <script src="/static/js/main.js"></script>
    </head>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="header">
            <span class="button button-clear">Clear</span>
            <span class="button button-download">Download</span>
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
            <form class="form" action="/convert" method="post">
                <input type="hidden" name="svg_base64" />
            </form>
        </div>
        <div class="line"></div>
        <div class="signature"></div>
    </body>
</html>
