<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body>
        <% if (text) { %>
            <div class="text">
                <% text.forEach(function(item){ %>
                    <span class="item" style="font-family: '<%= item[0] %>'"><%- item[1] === " " ? "&nbsp;" : item[1] %></span>
                <% }); %>
            </div>
        <% } %>
    </body>
</html>
