
<!DOCTYPE html>
<html lang="en">
    <%- include("head"); -%>
    <body class="<%= theme %>" data-theme="<%= theme %>">
        <div class="header">
            <% if (theme === "ldj") { %>
                <img class="logo" src="/static/images/logo.svg" />
            <% } else { %>
                <span class="logo"></span>
            <% } %>
        </div>
        <div class="viewport">
            <div class="input-container">
                <input class="input" type="text" />
            </div>
            <div class="fonts-container">
                <div class="font selected" data-font="arial" style="font-family: Arial;">Arial</div>
                <div class="font" data-font="times" style="font-family: Times;">Times</div>
                <div class="font" data-font="helvetica" style="font-family: Helvetica;">Helvetica</div>
                <div class="font" data-font="sans-serif" style="font-family: sans-serif;">Sans Serif</div>
                <div class="font" data-font="monospace" style="font-family: monospace">Monospace</div>
            </div>
        </div>
    </body>
</html>
