@font-face {
    font-family: "Cool Emojis";
    src: url(/static/fonts/coolemojis.ttf);
}

@font-face {
    font-family: "Cool Emojis Pantograph";
    src: url(/static/fonts/coolemojisp.ttf);
}

@font-face {
    font-family: "Helvetica 1L";
    src: url(/static/fonts/helvetica1l.ttf);
}

@font-face {
    font-family: "Helvetica 4L";
    src: url(/static/fonts/helvetica4l.ttf);
}

@font-face {
    font-family: "Roman 4L";
    src: url(/static/fonts/roman4l.ttf);
}

@font-face {
    font-family: "Script 4L";
    src: url(/static/fonts/script4l.ttf);
}

@font-face {
    font-family: "Script 412 1L";
    src: url(/static/fonts/script4121l.ttf);
}

@font-face {
    font-family: "Script Round 1L";
    src: url(/static/fonts/scriptround1l.ttf);
}

html {
    height: 100%;
}

body {
    font-family: Lato, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 0px;
    height: 100%;
    margin: 0px 0px 0px 0px;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    -o-box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    -ms-box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    -khtml-box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(64, 64, 64, 0.2);
    padding: 16px 0px 16px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.header > .logo {
    display: inline-block;
    height: 30px;
}

.header > .buttons-left {
    left: 0px;
    margin-left: 22px;
    position: absolute;
}

.header > .buttons-right {
    margin-right: 22px;
    position: absolute;
    right: 0px;
}

.header > .buttons-right > .button {
    margin-right: 14px;
}

.header > .buttons-right > .button:last-child {
    margin-right: 0px;
}

.header .button.button-clear {
    display: none;
}

.header .button.button-clear {
    margin-left: 12px;
}

.header .button.button-report {
    margin-right: 12px;
}

.line {
    background: #000000;
    height: 4px;
    position: absolute;
    top: calc(50% + 30px);
    width: 100%;
}

.button,
.signature > div:last-child > input[type=button] {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -khtml-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(24, 24, 24, 1.0);
    border: none;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    height: 32px;
    letter-spacing: 0.5px;
    line-height: 32px;
    min-width: 160px;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -khtml-outline: none;
    -webkit-outline: none;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover,
.signature > div:last-child > input[type=button]:hover {
    background-color: rgba(24, 24, 24, 0.85);
}

.button.button-small {
    min-width: 32px;
}

.input {
    background-color: #f4f7fa;
    border: 2px solid #f4f7fa;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Lato, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    min-width: 140px;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -khtml-outline: none;
    -webkit-outline: none;
    padding: 4px 12px 4px 12px;
    width: 100%;
}

.input:focus {
    background-color: #ffffff;
    border-color: #2d2d2d;
}

body.ldj .input:focus {
    border-color: #9678d3;
}

.radio-label {
    display: inline-block;
    margin-right: 20px;
    min-width: 80px;
}

.radio-label:last-child {
    margin-right: 0px;
}

.signature {
    background: #f6f6f6;
    height: 100%;
    width: 100%;
}

.signature > div:last-child {
    left: 0px;
    position: absolute !important;
    top: 0px;
}

.signature > div:last-child > input[type=button] {
    border: none;
    left: 238px !important;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -khtml-outline: none;
    -webkit-outline: none;
    position: relative !important;
    top: 16px !important;
}

.form {
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    -khtml-box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 7px 14px 0px rgba(60, 66, 87, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.07);
    font-size: 0px;
    margin: 0px auto 0px auto;
    max-width: 640px;
    min-width: 420px;
    padding: 32px 32px 32px 32px;
}

.form > .logo-container {
    font-size: 22px;
    margin: 0px auto 24px auto;
    text-align: center;
}

.form > .buttons-container {
    margin: 24px auto 0px auto;
    text-align: center;
}

.form > .field {
    margin: 24px 0px 24px 0px;
    box-sizing: border-box;
    font-size: 16px;
}

.form > .field.field-text {
    margin: 12px 0px 12px 0px;
}

.form > .field.field-half {
    display: inline-block;
    width: 50%;
}

.form > .field.field-half.first {
    padding-right: 8px;
}

.form > .field.field-half.second {
    padding-left: 8px;
}

.form > .field:first-child {
    margin-top: 0px;
}

.form > .field:last-child {
    margin-bottom: 0px;
}

.form > .field > .name {
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

body.ldj .button,
body.ldj .signature > div:last-child > input[type=button] {
    background-color: rgba(151, 120, 211, 1.0);
}

body.ldj .button:hover,
body.ldj .signature > div:last-child > input[type=button]:hover {
    background-color: rgba(151, 120, 211, 0.85);
}

body.ldj .line {
    top: calc(80% + 30px);
}
