.report {
    align-items: center;
    background-color: #f4f7fa;
    display: flex;
    font-size: 16px;
    margin: 0px auto 0px auto;
    min-height: 100%;
    user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
}

.report > .form.form-report {
    margin-top: 62px;
    max-width: 820px;
    min-width: 620px;
}

.pair > .form.form-report .text > .item {
    display: inline-block;
}
