.report {
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 960px;
}

.logo {
    width: 240px;
}

.pair {
    line-height: 28px;
}

.pair > .key {
    display: inline-block;
    width: 120px;
}

.pair > .value {
    display: inline-block;
}
