.store-mode .profile-info > .profile-info-body > .profile-info-dimensions,
.store-mode .profile-info > .profile-info-body > .profile-info-orientation,
.store-mode .profile-info > .profile-info-body > .profile-info-lines,
.store-mode .profile-info > .profile-info-body > .profile-info-raw-toggle,
.store-mode .profile-info.visible > .profile-info-body > .profile-info-raw-toggle,
.store-mode .profile-info > .profile-info-body > .profile-info-raw {
    display: none;
}

.store-mode:not(:has(.viewport-preview.profile-active)) .viewport-options {
    display: none;
}

.store-mode .viewport-options > .viewport-options-body > .profile-container,
.store-mode .viewport-options > .viewport-options-body > .viewport-options-rulers,
.store-mode .viewport-options > .viewport-options-body > .viewport-options-crosshair,
.store-mode .viewport-options > .viewport-options-body > .viewport-options-keyboard,
.store-mode .viewport-options > .viewport-options-body > .viewport-options-guidelines,
.store-mode .viewport-options > .viewport-options-body > .viewport-options-caret,
.store-mode .viewport-options > .viewport-options-body > .zoom-container,
.store-mode .viewport-options > .viewport-options-body > .margin-container,
.store-mode .viewport-options > .viewport-options-body > .position-container {
    display: none;
}
