.viewport {
    align-items: center;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: 64px;
    text-align: center;
    width: 100%;
}

.viewport > .main-container {
    text-align: center;
}

.viewport > .main-container > .input-container {
    margin: 0px auto 0px auto;
    width: 460px;
}

.viewport > .main-container > .input-container > .input {
    border: 2px dashed #2d2d2d;
    border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    padding: 12px 12px 12px 12px;
    text-align: center;
    width: 100%;
}

.viewport > .main-container > .viewer-container {
    border: 2px dashed #2d2d2d;
    border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 30px;
    height: 60px;
    line-height: 32px;
    margin: 0px auto 0px auto;
    padding: 12px 12px 12px 12px;
    text-align: center;
    width: 460px;
}

.viewport > .main-container > .fonts-container {
    margin: 20px auto 0px auto;
    width: 720px;
}

.viewport > .main-container > .fonts-container > .font {
    border: 1px solid #2d2d2d;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    height: 34px;
    line-height: 34px;
    margin: 6px 6px 6px 6px;
    padding: 6px 12px 6px 12px;
    vertical-align: top;
}

.viewport > .main-container > .fonts-container > .font.selected,
.viewport > .main-container > .fonts-container > .font.selected:hover {
    background-color: #e0e0e0;
}

.viewport > .main-container > .fonts-container > .font:hover {
    background-color: #f0f0f0;
}

.viewport > .main-container > .emojis-container,
.viewport > .main-container > .keyboard-container {
    font-size: 0px;
    margin: 20px auto 0px auto;
}

.viewport > .main-container > .keyboard-container {
    display: none;
    width: 520px;
}

.viewport > .main-container > .emojis-container {
    display: none;
    font-family: "Cool Emojis";
    width: 720px;
}

.viewport > .main-container > .emojis-container > .char,
.viewport > .main-container > .keyboard-container > .char {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    margin: 2px 0px 2px 0px;
    min-width: 32px;
    padding: 2px 8px 2px 8px;
}

.viewport > .main-container > .emojis-container > .char:hover,
.viewport > .main-container > .keyboard-container > .char:hover {
    background-color: #e2e2e2;
}
