.viewport {
    padding-top: 64px;
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport .input {
    font-size: 32px;
    text-align: center;
}
